* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    background: linear-gradient(to right, #7a229a, #9a1a93, #b4168a, #ca1b80, #dc2975, #e3405c);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.h1class {
    filter: drop-shadow(4px 8px 6px #FF6B6B);
    text-align: center;

}

.divInPink {
    background-color: pink;
    ;
}

.divFontGreen {
    color: green;
}

.borderDiv {
    border: 3px solid blue;
    width: 200px;
    height: 100px;
}

.d_none {
    display: none;
}